body {
  background-size: cover;
}
div.content-info div.field {
  display: inline-block;
}

div.content-info div.block-content-left div.field span.label,
div.content-info div.block-content-right div.field span.label {
  width: 70px;
}

div#action {
  top: 328px;
  bottom: auto;
}

#map iframe {
  width: 100% !important;
  height: 100% !important;
}

.first-intro {
  padding-bottom: 10px;
}

.additional-skills-content {
  margin-left: 30px;
}

#hobbits {
  padding-top: 20px;
}

#hobbits .label {
  height: 30px;
  padding-left: 50px;
  padding-top: 5px;
  background-size: auto 100%;
}

#hobbits .roll-field {
  float: left;
  padding-left: 20px;
}

.roll-field .travel {
  background: url(../images/travel.png) 0 0 no-repeat;
}

.roll-field .game {
  background: url(../images/game.png) 0 0 no-repeat;
}

.roll-field .soccer {
  background: url(../images/soccer.png) 0 0 no-repeat;
}

.roll-field .music {
  background: url(../images/music.png) 0 0 no-repeat;
}

.roll-field .gym {
  background: url(../images/gym.png) 0 0 no-repeat;
}

#content-CV div.text-field {
  height: auto !important;
}

#content-CV div.text-field-left {
  width: auto !important;
  height: auto !important;
  float: none;
  padding: 10px;
}

#content-CV div.text-field-right {
  height: auto !important;
  float: none;
  padding-left: 19px;
  border-left: 1px solid #eaebeb;
}

#content-CV div.text-field div.text-field-right div.text {
  height: auto !important;
}

ul#portfolio-container {
  margin-top: 0;
}
/*    Video youtube */

.fancybox-nav {
  width: 20%;
  height: 50%;
  top: 25%;
}

.fancybox-nav span {
  visibility: visible;
  opacity: 0.5;
}

.fancybox-nav:hover span {
  opacity: 1;
}

@media only screen and (min-width: 1024px) {
  div.content-info {
    padding: 50px 20px 50px 20px;
    width: 590px;
  }
  div.content-info div.body {
    padding-right: 20px;
  }
  div.content-info div.block-content div.block-content-right {
    width: 55%;
  }
  div.content-info div.block-content div.block-content-left {
    padding-right: 0%;
  }
  #contacts .content-inner div.left-sidebar {
    width: 235px;
  }
  #contacts .content-inner div.content {
    width: 525px;
    max-height: 200px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  div.content-info div.block-content div.block-content-right {
    width: 100%;
  }
  div.content-info div.block-content div.block-content-left {
    width: 100%;
  }
}

.adipoli-wrapper,
.adipoli-before,
.adipoli-after {
  overflow: hidden;
}
